table {
    border: 1px solid black;
    table-layout: fixed;
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
   
  }
  td ,th {
    text-align: center;
    border: 1px solid black;
  }
   

    