<header></header>
<div class="container" role="main">  
  <button class="btn btn-primary"[routerLink]="['/home']" ngModel>Home</button>
    <div class="container">
        <form #myform="ngForm">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="product ID" class="form-label">Category id</label>
                    <input type="text" class="form-control" name="category_id" aria-describedby="emailHelp" [(ngModel)]="userObj.category_id" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="product ID" class="form-label">Category name</label>
                    <input type="text" class="form-control" name="category_name" [(ngModel)]="userObj.category_name" required>
                </div>
                <div class="form-group-col-md-3">
                    <button type="submit" class="btn btn-primary" (click)="addCategory(myform.value)" required  *ngIf="!isEdit">Submit</button>
                    <button type="submit" class="btn btn-primary" *ngIf="isEdit" (click)="updateCategory()">Update</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover" font-size="9px">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">category id</th>
                <th scope="col">category name</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of all_cat | paginate:{itemsPerPage:5,currentPage:p}">
                <td>{{category.id}}</td>
                <td>{{category.category_id}}</td>
                <td>{{category.category_name}}</td>
                <td><button (click)="editcategory(category)" class="btn btn-warning">edit</button></td>
                <td><button (click)="delCategory(category)" class="btn btn-danger" >delete</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls float ="center" (pageChange)="p=$event"></pagination-controls>
</div>