table {
    border: 1px solid black;
    width: 100%;
    height: auto;
    align-self: center;   
  }
  td ,th {
    text-align: center;
    border: 1px solid black;

  }
  input.ng.invalid{
    border-color: red;
  }
  input.ng.untouched{
    border-color: red;
  }
 
 