<header></header>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<body>
<div class="container" role="main">
  <button class="btn btn-primary"[routerLink]="['/category']" ngModel>Add Category</button>
 
    <div class="container">
      <form #myform="ngForm">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="product ID" class="form-label">product id</label>
                    <input type="text" class="form-control" name="product_id" [(ngModel)]="userObj.product_id" />

                </div>
                <div class="form-group col-md-4">
                    <label for="product_name" class="form-label">product name</label>
                    <input type="text" class="form-control" name="product_name" [(ngModel)]="userObj.product_name" required="true">
                </div>
                <div class="form-group col-md-4" >
                    <label for="category_name" class="form-label">category name</label> 
                    <select class="form-control" name="category_name" [(ngModel)]="userObj.category_name" (change)="onChange()" required="true">
                        <option *ngFor="let category of get_cat" [value]="category.category_name">{{category.category_name}}</option>     
                    </select> 
                </div> 
                <input type="hidden" class="form-control" name="category_id" [(ngModel)]="inputText" [(value)]="inputText" [(ngModel)]="userObj.category_id" required="true">
                <div class="form-group col-md-4">
                    <button  type="submit" class="btn btn-primary" (click)="addProduct(myform.value)" required  *ngIf="!isEdit">Submit</button>
                    <button type="submit" class="btn btn-primary" *ngIf="isEdit" (click)="updateProduct()">Update</button>
                </div>
            </div>
        </form>
    </div>  

   
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">product id</th>
        <th scope="col">product name</th>
        <th scope="col">category id</th>
        <th scope="col">category name</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of all_prod | paginate:{itemsPerPage:10,currentPage:p}">
        <td>{{product.id}}</td>
        <td>{{product.product_id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.category_id}}</td>
        <td>{{product.category_name}}</td>
        <td><button (click)="editproduct(product)" class="btn btn-warning">edit</button></td>
        <td><button (click)="delProduct(product)" class="btn btn-danger" >delete</button></td>
      </tr>
    </tbody>
  </table>
    <pagination-controls float ="center" (pageChange)="p=$event"></pagination-controls>
</div>
</body>
